name: ci

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '24.x'
    - name: Install dependencies
      env:
        CI: true
      run: |
        npm ci
    - name: Run tests
      run: |
        npm test
    - name: Deploy
      run: |
        # npm run deploy
